[Unit]
Description=atuin shell history daemon

[Service]
Slice=background-daemons.slice
ExecStart=atuin daemon
Type=simple
Restart=always

[Install]
WantedBy=default.target
