[Unit]
Description=Automatically switch the horizontal / vertical window split orientation
PartOf=x-session.target
After=x-session.target
Requisite=x-session.target

[Service]
Slice=desktop.slice
Type=simple
StandardOutput=journal
ExecStart=/usr/bin/autotiling -d
ExecStop=/usr/bin/killall autotiling
Restart=always

[Install]
WantedBy=x-session.target
