[Unit]
Description=Powerful data provider service and backend for building custom application launchers and desktop utilities

[Service]
Slice=background-daemons.slice
Type=simple
StandardOutput=journal
ExecStart=elephant
Restart=on-failure

[Install]
WantedBy=user-graphical-session.target
