[Unit]
Description=Hyprland compositor session
Documentation=man:systemd.special
BindsTo=user-graphical-session.target
AssertEnvironment=WAYLAND_DISPLAY
