[Unit]
Description=Jellyfin Server

[Service]
Type=simple
StandardOutput=journal
ExecStop=docker rm -f %N
ExecStart=python3 %h/.local/bin/jellyfin-server %h/.srv/jellyfin %N

[Install]
WantedBy=default.target
