[Unit]
Description=Mega.co.nz webdav sync for Enpass

[Service]
Type=oneshot
StandardOutput=journal
ExecStop=mega-webdav -d /Enpass
ExecStart=mega-webdav /Enpass --port=12345
RemainAfterExit=yes

[Install]
WantedBy=default.target
