[Unit]
Description=100+ offline-first networking tools and utilities

[Service]
Slice=background-containers.slice
Type=simple
StandardOutput=journal
ExecStart=docker run \
    --rm \
    -m 512M \
    -p 4000:3000/tcp \
    -u %U:%G \
    --name %N \
    lissy93/networking-toolbox
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=10
TimeoutStartSec=180
TimeoutStopSec=30
ExecStop=docker rm -f %N
# Security enhancements
ProtectSystem=full
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=default.target
