[Unit]
Description=Ollama and webui

[Service]
Type=simple
StandardOutput=journal
ExecStop=docker rm -f %N
ExecStart=docker run \
        --rm \
        --gpus=all \
        -v %h/.srv/ollama/models:/root/.ollama \
        -v %h/.srv/ollama/webui:/app/backend/data \
        -p 4000:8080 \
        --name %N \
        ghcr.io/open-webui/open-webui:ollama

[Install]
WantedBy=default.target
