[Unit]
Description=Pi-hole DNS server

[Service]
Type=simple
StandardOutput=journal
ExecStop=docker stop %N
ExecStart=docker run \
    --rm \
    -m 128M \
    -v %h/.srv/pi-hole/app:/etc/pihole \
    -v %h/.srv/pi-hole/dnsmasq.d:/etc/dnsmasq.d \
    -p 53:53/tcp  \
    -p 53:53/udp  \
    -p 127.0.0.1:8888:80 \
    -e TZ="Africa/Algiers" \
    -e WEBPASSWORD="secret" \
    -e PIHOLE_DNS_=1.1.1.1;1.0.0.1;208.67.222.222;208.67.220.220 \
    --dns=1.1.1.1 \
    --dns=127.0.0.1 \
    --hostname pi.hole \
    --name %N \
    pihole/pihole:latest

[Install]
WantedBy=default.target
