[Unit]
Description=A fast and easy-to-use status bar for X11
Documentation=https://github.com/polybar/polybar/wiki/
BindsTo=x-session.target
AssertEnvironment=DISPLAY

[Service]
Slice=desktop-bar.slice
Type=simple
StandardOutput=journal
ExecStart=%h/.config/polybar/launch.sh
ExecReload=kill -SIGUSR1 $MAINPID
Restart=on-failure

[Install]
WantedBy=desktop-bar.target
