[Unit]
Description=Polybar
PartOf=x-session.target
After=x-session.target
Requisite=x-session.target

[Service]
Type=oneshot
ExecStart=%h/.config/polybar/launch.sh
ExecStop=killall -q polybar
RemainAfterExit=yes

[Install]
WantedBy=x-session.target
