[Unit]
Description=Polybar

[Service]
Type=oneshot
ExecStart=%h/.config/polybar/launch.sh
ExecStop=killall -q polybar
RemainAfterExit=yes

[Install]
WantedBy=default.target
