[Unit]
Description=Choose a random wallpaper and update betterlockscreen cache

[Service]
Type=oneshot
ExecStart=/usr/bin/betterlockscreen -u %h/.wallpaper --fx dimblur
ExecStartPost=/usr/bin/betterlockscreen -w
StandardOutput=journal

[Install]
WantedBy=default.target
