[Unit]
Description=Choose a random wallpaper and update betterlockscreen cache

[Service]
Type=simple
StandardOutput=journal
ExecStart=%h/.config/hypr/helpers/wallpaper.sh

[Install]
WantedBy=default.target
