[Unit]
Description=Choose a random wallpaper and update betterlockscreen cache
PartOf=hypr-session.target
After=hypr-session.target
Requisite=hypr-session.target

[Service]
Slice=desktop.slice
Type=simple
StandardOutput=journal
ExecStart=%h/.config/hypr/helpers/wallpaper.sh

[Install]
WantedBy=hypr-session.target
