# -*- mode: sh -*-
# vi: set ft=sh :

export INITIAL_COMMIT_MSG="The same thing we do every night, Pinky - try to take over the world!"

[[ -s "$HOME/.zsh_auto_complete" ]] && source "$HOME/.zsh_auto_complete"

alias n="xdg-open"
alias n.="xdg-open ."
alias code="cd ~/Code"

alias sshkey="xclip -sel clip < ~/.ssh/id_rsa.pub && notify-send -t 200 -i ~/Code/key_ok.png 'Public Key copied to clipboard'"
alias tn="TERM=screen-256color tmux new-session -As $USERNAME"

alias zshrc="vim ~/.zshrc"
alias aliases="vim ~/.aliases"

# alias uu="sudo apt-get update && sudo apt-get upgrade -y"
alias cpwd="pwd | xclip -sel clip"

# Laravel
alias artisan="php artisan"
# alias gmig="php artisan make:migration:schema"
alias migrate="php artisan migrate"
# alias ql="php artisan queue:listen --timeout=360"

# Testing
# alias phpunit="vendor/bin/phpunit"
# alias phpspec="vendor/bin/phpspec"
# alias codecept="vendor/bin/codecept"
# alias crf="vendor/bin/codecept run functional"

# Others
alias reset_wifi="nmcli nm sleep false"

# Rails
alias rdoc_to_md="ruby -r rdoc -e 'puts RDoc::Markup::ToMarkdown.new.convert File.read(ARGV[0] || \"README.rdoc\")' >README.md && rm README.rdoc"
alias start_unicorn="unicorn_rails -c config/unicorn.rb -D"
alias stop_unicorn="kill \`cat ./tmp/pids/unicorn.pid\`"
alias restart_unicorn="stop_unicorn && start_unicorn"
alias rspec="_rspec_command"

alias nah="git reset --hard;git clean -df"
alias oops="git commit --amend --no-edit"
alias gc="git commit -m"
alias gs="git status"

alias be="bundle exec"

