# -*- mode: sh -*-
# vi: set ft=sh :

export INITIAL_COMMIT_MSG="The same thing we do every night, Pinky - try to take over the world!"
export BATMAN_INITIAL_COMMIT_MSG="Batman! (this commit has no parents)"

[[ -s "$HOME/.zsh_auto_complete" ]] && source "$HOME/.zsh_auto_complete"

alias n="xdg-open"
alias n.="xdg-open ."
# alias code="cd ~/Code"
alias get=wget

alias sshkey="xclip -sel clip < ~/.ssh/id_rsa.pub && notify-send -t 200 -i ~/Code/key_ok.png 'Public Key copied to clipboard'"
alias sshconfig="vim ~/.ssh/config"

alias tn="TERM=screen-256color tmux new-session -As $USERNAME"

alias zshrc="vim ~/.zshrc"
alias aliases="vim ~/.aliases"

alias uu="sudo apt update && sudo apt upgrade -y"
alias cpwd="pwd | xclip -sel clip"

# lsd
alias ls="lsd"
alias la="ls -a"
alias lla="ls -la"
alias lt="ls --tree"

# Laravel
alias artisan="php artisan"
alias migrate="php artisan migrate"
# alias ql="php artisan queue:listen --timeout=360"

# Others
alias reset_wifi="nmcli nm sleep false"

# Git aliases
alias nah="git reset --hard;git clean -df"
alias oops="git commit --amend --no-edit"
alias gac="git add . && git commit -m"
alias gc="git commit -m"
alias gs="git status"
alias s="git st"
alias push="git push"
alias glog="git glog"

# alias geoserver="cd ~/Code/geoserver && ./bin/startup.sh"
# alias go="git push -fv; bundle exec cap deploy"

# alias tunnel="sshuttle --dns -r midas 0/0 -vv"
alias portainer="docker run -d -p 8000:8000 -p 9000:9000 -v /var/run/docker.sock:/var/run/docker.sock -v portainer_data:/data portainer/portainer"

# docker-compose
alias dc=docker-compose
alias dcup="dc up"
alias dcupd="dc up -d"
alias dcdn="dc down"
alias run="dc run --rm"
alias runn="dc run --rm runner"
alias be="runn bundle exec"
alias dce="dc exec"
alias dclf="dc logs -f"
alias dcps="dc ps"
