[core]
	fileMode = false
  editor   = vim
[user]
  email = guemidiborhane@gmail.com
  name  = Borhaneddine Guemidi
	signingkey = CE386C330F3C11E5
[push]
  default = simple
[color]
  ui = true
[alias]
  st = status -s
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  deploy = !git push  $1 $2 && bundle exec cap production deploy
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	program = gpg2
[commit]
	gpgsign = true
