[core]
	fileMode = false
	editor = vim
[user]
	email = guemidiborhane@gmail.com
	name = Borhane Eddine Guemidi
[push]
	default = simple
[color]
	ui = true
[alias]
	lg = !git --no-pager log --graph --oneline --decorate
