"*":
  "atom-material-ui":
    colors:
      genAccent: true
    tabs: {}
    treeView:
      compactList: true
    ui:
      animations: false
      panelContrast: true
  core:
    autoHideMenuBar: true
    closeEmptyWindows: false
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "node_modules"
      "tmp"
      "log"
    ]
    themes: [
      "atom-material-ui"
      "ptx-solarized-dark-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    fontSize: 20
    scrollPastEnd: true
  "exception-reporting":
    userId: "69150a68-0599-409b-2624-4d3e2f22a1dc"
  "file-icons":
    forceShow: true
  fonts:
    fontFamily: "FiraCode"
    preview: "The Quick brown fox { 0 !== \"O\" } ~>"
  "genesis-ui":
    distractionFree:
      hideBottom: false
    treeView: {}
  pigments:
    extendAutocompleteToColorValue: true
    extendAutocompleteToVariables: true
    markerType: "native-background"
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "vim-mode-next":
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
