'atom-workspace':
  'ctrl-e': 'recent-files-fuzzy-finder:toggle-finder'

'atom-text-editor:not([mini])':
  'ctrl-shift-k': 'unset!'
  'ctrl-shift-delete': 'editor:delete-line'

'.platform-win32, .platform-linux':
  'ctrl-shift-k': 'tree-view:toggle'
  'alt-\\': 'unset!'
  'ctrl-alt-k': 'tree-view:toggle-focus'

'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
  'ctrl-e': 'unset!'

'atom-text-editor[data-grammar="text haml"]:not([mini])':
  'tab': 'emmet:expand-abbreviation-with-tab'

'atom-workspace atom-text-editor:not([mini])':
  'ctrl-[': 'editor:outdent-selected-rows'
  'ctrl-5': 'editor:indent-selected-rows'

'.platform-win32 .tree-view, .platform-linux .tree-view':
  'ctrl-5': 'unset!'

'atom-text-editor.vim-mode':
  'ctrl-c': 'core:copy'
'atom-text-editor.vim-mode:not(.insert-mode)':
  'ctrl-w': 'core:close'
