@import url("./colors.css");
@define-color button-accent @yellow;

* {
  border: none;
  border-radius: 0;
  font-family: "MonaSpiceAr Nerd Font Propo";
}

#waybar {
  background: @transparent
}

#waybar > box {
  background: alpha(@background, 0.5);
  color: @theme_text_color;
  border-radius: 5px;
  margin: 10px 10px 0 10px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.4);
}

tooltip {
  background: alpha(@background, 0.6);
  border-radius: 10px;
  border: 2px solid @secondary;
}

.module {
  background: @transparent;
  padding: 0 5px;
}

.modules-right:last-child {
  margin-right: 5px;
}

.modules-left:first-child {
  margin-left: -5px;
}

#taskbar button,
#workspaces button {
  color: @comment;
  border-top: 3px solid @purple;
  box-shadow: none;
}

#workspaces button:first-child {
  border-radius: 2px 0 0 5px; /* top-left top-right bottom-right bottom-left */
}

#taskbar button:hover,
#workspaces button:hover {
  background: @transparent;
}

#taskbar button.active,
#workspaces button.active {
  background: @selection;
  color: @active;
}

#workspaces button.visible,
#workspaces button.active {
  border-top-color: @button-accent;
}

#taskbar button.active {
  background: @button-accent;
  color: @background;
}

#workspaces button.urgent {
  color: @urgent;
}

#window,
#windowcount {
  color: @button-accent;
}

#clock {
  color: @cyan;
}

#temperature {
  color: @pink;
}
#temperature.warning {
  color: @yellow;
}
#temperature.critical {
  color: @urgent;
}

#cpu {
  color: @cpu;
}

#custom-vpn.down {
  color: @red;
}
#custom-vpn.up {
  color: @cyan;
}

#custom-governor.performance {
  color: @orange;
}
#custom-governor.powersave {
  color: @green;
}
#custom-governor.conservative {
  color: @comment;
}
#custom-governor.ondemand {
  color: @purple;
}
#custom-governor.schedutil {
  color: @yellow;
}
#custom-governor.userspace {
  color: @selection;
}
#custom-governor.unknown {
  color: @foreground;
}

#privacy {
  margin-left: 5px;
  color: @yellow;
}

#memory {
  color: @yellow;
}

#custom-uptime {
  color: @cyan;
}

#custom-ping.good {
  color: @green;
}
#custom-ping.warning {
  color: @yellow;
}
#custom-ping.critical {
  color: @orange;
}
#custom-ping.offline {
  color: @red;
}

#battery.warning {
  color: @yellow;
}
#battery.critical {
  color: @red;
}

#bluetooth.connected {
  color: @blue;
}
