@import url("./colors.css");

@define-color button-accent @yellow;

* {
  border: none;
  border-radius: 0;
  font-family: "Noto Sans", "JetBrainsMono NFP";
  font-size: 1rem;
  font-weight: 500;
}

window#waybar {
  background: @background;
  color: @foreground;
}

.modules-right:last-child {
  padding-right: 10px;
}

tooltip {
  background: @background;
  border-radius: 10px;
  border: 2px solid @secondary;
}

#taskbar button,
#workspaces button {
  padding: 0 10px;
  color: @secondary;
  border-top: 3px solid @purple;

  box-shadow: none;
}

#taskbar button:hover,
#workspaces button:hover {
  background: @transparent;
  box-shadow: none;
}

#taskbar button.active,
#workspaces button.active {
  background: @selection;
  color: @active;
}

#workspaces button.active,
#workspaces button.visible {
  border-top-color: @button-accent;
}

#taskbar button.active {
  background: @button-accent;
  color: @background;
}

#workspaces button.urgent {
  color: @urgent;
}

#window {
  padding: 0 10px;
  color: @button-accent;
}

#clock {
  color: @cyan;
}

#sys-info #temperature {
  padding-left: 5px;
}

#temperature {
  color: @comment;
}

#temperature.critical {
  color: @yellow;
}

#cpu {
  color: @cpu;
}

#custom-vpn.down {
  color: @red;
}

#custom-vpn.up {
  color: @cyan;
}

.not-power .module,
#indicators .module {
  padding: 0 7.5px;
}

#indicators #privacy {
  padding: 0;
}

#custom-governor {
  font-size: 1.1rem;
}

#custom-governor.performance {
  color: @orange;
}

#custom-governor.powersave {
  color: @green;
}

#custom-governor.conservative {
  color: @comment;
}

#custom-governor.ondemand {
  color: @purple;
}

#custom-governor.schedutil {
  color: @yellow;
}

#custom-governor.userspace {
  color: @selection;
}

#custom-governor.unknown {
  color: @foreground;
}

#privacy {
  color: @yellow;
}

#memory {
  color: @yellow;
}

#custom-power-status {
  margin-right: 10px;
}

#custom-uptime {
  color: @cyan;
}

#custom-ping.good {
  color: @green;
}

#custom-ping.warning {
  color: @yellow;
}

#custom-ping.critical {
  color: @orange;
}

#custom-ping.offline {
  color: @red;
}

/* Network */
#network {
  color: @pink; /* Pink color for the icons */
}

/* Make the speed values a different color */
#network {
  color: @comment; /* The grayish-blue color for the text */
}

#network.disconnected {
  color: @red;
}
