@import url("./colors.css");

* {
  border: none;
  border-radius: 0;
  font-family: "Noto Sans", "FontAwesome", "Material Icons";
  font-size: 0.9rem;
  font-weight: 500;
  min-height: 0;
}

window#waybar {
  background: @background;
  color: @foreground;
}

tooltip {
  background: @background;
  border-radius: 10px;
  border: 2px solid @foreground;
}

#workspaces button {
  padding: 0 10px;
  color: @secondary;
  border-bottom: 3px solid transparent;
}

#workspaces button.active {
  background: @selection;
  color: @active;
  border-bottom-color: @underline;
}

#workspaces button.urgent {
  color: @urgent;
}

#window {
  color: @yellow;
}

#clock {
  color: @cyan;
}

#temperature,
#custom-cpu-frequency {
  color: @cpu;
}

#temperature.critical {
  color: @yellow;
}

#battery {
  padding-right: 5px;
}

#custom-vpn.down {
    color: @red;
}

#custom-vpn.up {
    color: @cyan;
}
