@import url("./colors.css");

@define-color button-accent @yellow;

window#waybar {
   background: @theme_base_color;
   color: @theme_text_color;
}

* {
  border: none;
  border-radius: 0;
  font-family: "MonaSpiceAr Nerd Font Propo";
}

tooltip {
  background: @background;
  border-radius: 10px;
  border: 2px solid @secondary;
}

.module {
  padding: 0 5px;
}

.modules-right:last-child {
  margin-right: 5px;
}

.modules-left:first-child {
  margin-left: -5px;
}

#taskbar button,
#workspaces button {
  color: @secondary;
  border-top: 3px solid @purple;

  box-shadow: none;
}

#taskbar button:hover,
#workspaces button:hover {
  background: @transparent;
  box-shadow: none;
}

#taskbar button.active,
#workspaces button.active {
  background: @selection;
  color: @active;
}

#workspaces button.visible,
#workspaces button.active {
  border-top-color: @button-accent;
}

#taskbar button.active {
  background: @button-accent;
  color: @background;
}

#workspaces button.urgent {
  color: @urgent;
}

#window {
  color: @button-accent;
}

#clock {
  color: @cyan;
}

#temperature {
  background: transparent;
  color: @comment;
}
#temperature.warning {
  background: transparent;
  color: @yellow;
}
#temperature.critical {
  background: transparent;
  color: @urgent;
}

#cpu {
  color: @cpu;
}

#custom-vpn.down {
  color: @red;
}
#custom-vpn.up {
  color: @cyan;
}

#custom-governor.performance {
  color: @orange;
}
#custom-governor.powersave {
  color: @green;
}
#custom-governor.conservative {
  color: @comment;
}
#custom-governor.ondemand {
  color: @purple;
}
#custom-governor.schedutil {
  color: @yellow;
}
#custom-governor.userspace {
  color: @selection;
}
#custom-governor.unknown {
  color: @foreground;
}

#privacy {
  margin-left: 5px;
  color: @yellow;
}

#memory {
  color: @yellow;
}

#custom-uptime {
  color: @cyan;
}

#custom-ping {
  background-color: transparent;
}
#custom-ping.good {
  color: @green;
}
#custom-ping.warning {
  color: @yellow;
}
#custom-ping.critical {
  color: @orange;
}
#custom-ping.offline {
  color: @red;
}

#battery {
  background: transparent;
}
#battery.warning {
  color: @yellow;
}
#battery.critical {
  color: @red;
}

#bluetooth.connected {
  color: @cpu;
}
