configuration {
    monitor: "primary";
    sort: true;
    case-sensitivity: false;
    sorting-method: "fzf";
    terminal: "wezterm";
    modi: "drun,window,emoji,calc";
    drun-display-format: "{icon} {name}";
}
@theme "theme"
