[Unit]
Description=Sync enpass vault from KEYS usb drive to hdd-drive every 30 minutes

[Timer]
# Run every hour
OnCalendar=*:0/30


[Install]
WantedBy=timers.target
