[Unit]
Description=Jellyfin Server

[Service]
Type=simple
StandardOutput=journal
ExecStart=docker run -v /home/borhane/.srv/jellyfin/config:/config -v /srv/jellyfin/cache:/cache -v /run/media/borhane/DATA/Videos/:/media/videos -v /run/media/borhane/DATA/Music/:/media/Music --net=host jellyfin/jellyfin:latest

[Install]
WantedBy=default.target
