[Unit]
Description=Run mount.sh scripts found in /run/media/

[Service]
Type=exec
ExecStartPost=/home/borhane/.bin/umount_scripts
ExecStart=/home/borhane/.bin/mount_scripts
Environment=HOME=/home/borhane
Environment=DISPLAY=:0
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
StandardOutput=journal

[Install]
WantedBy=default.target
