[Unit]
Description=Sets random wallpaper from picsum.photos on each screen

[Service]
Type=exec
ExecStart=/home/borhane/.config/i3/scripts/bg.sh
Environment=HOME=/home/borhane
Environment=DISPLAY=:0
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
StandardOutput=journal

[Install]
WantedBy=default.target
