[Unit]
Description=dynamically adjust liquidctl device pump and fan speeds.

[Service]
Type=simple
StandardOutput=journal
ExecStartPre=liquidctl --match H115i initialize --pump-mode balanced
ExecStart=/home/borhane/.bin/yoda -v --match H115i control fan with '(40,0),(50,20),(60,30),(70,60),(85,100)' on zenpower.tdie

[Install]
WantedBy=default.target
