# vim: set ft=systemd :
[Unit]
Description=Metasearch Engine
After=network-online.target
Wants=network-online.target

[Container]
Image= docker.io/searxng/searxng:latest
ContainerName=searxng
AutoUpdate=registry

Memory=1G

Volume=%E/searxng:/etc/searxng:Z
Volume=%C/searxng:/var/cache/searxng:Z

PublishPort=127.0.0.1:9999:8080

[Service]
Slice=containers.slice
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
